@charset "UTF-8";

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 500px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #ccffff;
}

#version-info {
  font-size: 0.9rem;
  font-weight: bold;
  color: gray;
}

.left {
  text-align: left;
}

h1 {
  margin: 0;
  font-size: 18px;
  background-color: pink;
}

h2 {
  margin: 0;
  font-size: 18px;
  background-color: skyblue;
}

svg {
  user-select: none;
}

span.other {
  padding: 0 5px;
  margin: 5px;
  font-weight: bold;
  background-color: #ffddff;
  border: solid 1px black;
}

div.inner {
  margin: 5px;
}

div.pink {
  margin-bottom: 5px;
  background-color: #ffe8e8;
}

div.skyblue {
  margin-bottom: 5px;
  background-color: #e8e8ff;
}

input[type="text"] {
  font-size: 16px;
}
